html, body {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: whitesmoke;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px 2px #474747;
}

h1 {
    text-align: center;
    font-size: 50px;
}


main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.top {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.left-side {
    margin-left: 30px;
}

#weather {
    margin-right: 50px;
}

div#crypto-top {
    display: flex;
    gap: 10px;
    align-items: center;
}

p#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
}

p#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
}

p.weather-temp {
    margin: 0;
}




